
<div class="container" id="show-card">
  <%= cl_image_tag(@pillow.photo,
          width: 400, height: 300, crop: :fill) %>
  <div class="text">
    <h1 id="h1"><%= @pillow.name %></h1>
    <p class="sub-text"><strong>Description:</strong></p>
    <p class="sub-sub-text"> <%= @pillow.description %></p>
    <p class="sub-text"><strong>Category:</strong></p>
    <p class="sub-sub-text"> <%= @pillow.category %></p>
    <p class="sub-text"><strong>Address:</strong></p>
    <p class="sub-sub-text"> <%= @pillow.address %></p>
    <%= link_to "Edit", edit_pillow_path(@pillow) %>
  </div>
</div>

