<div class="container" id="show-card">
  <%= cl_image_tag(@pillow.photo,
          width: 400, height: 300, crop: :fill) %>
  <div class="text">
    <h1 id="h1"><%= @pillow.name %></h1>
    <p class="sub-text"><strong>Description:</strong></p>
    <p class="sub-sub-text"> <%= @pillow.description %></p>
    <p class="sub-text"><strong>Category:</strong></p>
    <p class="sub-sub-text"> <%= @pillow.category %></p>
    <p class="sub-text"><strong>Address:</strong></p>
    <p class="sub-sub-text"> <%= @pillow.address %></p>

    <div class="d-flex px-3 justify-content-around">
      <div class="button-detail">
        <%= link_to "Edit", edit_pillow_path(@pillow) %>
      </div>
      <div class="button-detail">
        <%= link_to "Remove", pillow_path(@pillow), method: :delete  %>
      </div>
      <div class="button-detail">
        <%= link_to "Book this pillow!", new_pillow_booking_path(@pillow) %>
      </div>
    </div>
  </div>
</div>


 <div class="review-container">
  <h4>Reviews</h4>
      <% @reviews.each do |t| %>
      <div class="card-product-infos">
        <h5><%= t.booking.user.email %></h5>
        <p><%= t.content %></p>
        <p><%= t.rating %></p>
      </div>
        <% end %>
</div>
