<div class="wrapper-index wrapper-margin-top container">
  <div class="pillow-container-grid card-pillow-show">
    <div class="row d-flex p-2 mb-3 justify-content-between">

      <%= cl_image_tag(@pillow.photo,
               crop: :fill) %>

      <div class="container-flex-inline">
        <h1 id="h1"><%= @pillow.name %></h1>
        <h4><strong>Description:</strong></h4>
        <p class="sub-sub-text"> <%= @pillow.description %></p>

        <h4><strong>Category:</strong></h4>
        <p class="sub-sub-text"> <%= @pillow.category %></p>

        <h4><strong>Address:</strong></h4>
        <p class="sub-sub-text"> <%= @pillow.address %></p>

        <h4><strong>rating:</strong></h4>
        <p class="sub-sub-text"> 5 stars</p>

        <h4><strong>price</strong></h4>
        <p class="sub-sub-text"> <%= @pillow.price %>€</p>

      </div>
    </div>

          <div class="d-flex px-3 justify-content-around">
            <% if current_user == @pillow.id%>
            <div class="button-detail">
              <%= link_to "Edit", edit_pillow_path(@pillow) %>
            </div>
            <div class="button-detail">
              <%= link_to "Remove", pillow_path(@pillow), method: :delete  %>
            </div>
            <% end %>
            <div class="button-detail">
              <%= link_to "Book this pillow!", new_pillow_booking_path(@pillow) %>
            </div>
          </div>

  </div>

   <div style='margin-top: 50px;'>
    <h4>Reviews</h4>
        <% @reviews.each do |t| %>
          <div class="card-product-infos">
            <h5><%= t.booking.user.full_name %></h5>
            <p><%= t.content %></p>
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= t.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
               <% counter += 1 %>
            <% end %>
          </div>
        <% end %>
  </div>
</div>
