<h1>Chunky bacon booking!</h1>
<p>
You're booking is confirm!!!!!
</p>
<p>booking id:</p> <%= @booking.id %> <br>
<p>pillow name:</p> <%= @booking.pillow.name %> <br>
<p>start date: </p> <%= @booking.start_date %> <br>
<p>end date:</p> <%= @booking.end_date %> <br>
<%= link_to 'see all your bookings', bookings_path  %>
  <%= link_to 'home', root_path %>
  <%= link_to 'add review', new_booking_review_path(@booking)  %>
